* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* common */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
/* fine common */
.container {
    width: 100%;
    height: 100vh;
}
.box-nav {
    float: left;
    width: 20%;
    height: 80vh;
    background-color: yellow;
}
.box-main {
    float: left;
    width: 80%;
    height: 80vh;
    background-color: red;
}
.box-footer {
    width: 100%;
    height: 20vh;
    background-color: green;
}
/* inizio Media  */
@media screen and (min-width: 600px) {
    .box-nav {
        min-width: 10%;
    }
}
/* fine Media  */