* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* common */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.float {
    float: left;
}
/* fine common */
.container {
    width: 100vw;
    height: 100vh;
}
/* barra sx navigazione */
.box-nav {
    position: relative;
    width: 230px;
    height: 90vh;
    background-color: yellow;
}
/* sezione logo  */
.box-nav .logo {
    width: 230px;
    height: 10vh;
    background-color: honeydew;
}
.logo .icona-logo {
    width: 70px;
    height: 10vh;
    background-color: indigo;
}
.logo .nome-logo {
    width: 130px;
    height: 10vh;
    background-color: lemonchiffon;
}

/* fine sezione logo  */
.box-nav .menu {
    width: 230px;
    height: 150px;
    background-color: lawngreen;
}
.box-nav .playlist {
    width: 230px;
    height: 250px;
    background-color: lightpink;
}
.box-nav .nav-bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 230px;
    height: 50px;
    background-color: gray;
}
/* fine barra sx navigazione */
/* sezione main  */
.box-main {
    width: calc(100% - 230px);
    height: 90vh;
    background-color: red;
}
/* fine sezione main  */
/* sezione footer  */
.box-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 599;
    width: 100%;
    height: 70px;
    background-color: green;
}
/* fine sezione footer  */
/* inizio Media  */
@media screen and (max-width: 600px) {
    .box-nav {
        min-height: 100%;
    }
    .box-nav,
    .box-nav .logo,
    .box-nav .menu, 
    .box-nav .playlist,
    .box-nav .nav-bottom {
        width: 70px;
    }
    .box-main {
        width: calc(100% - 70px) ;
    }

    .nome-logo {
        display: none;
    }

}
/* fine Media  */