* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* common */
body {
    font-family: 'Montserrat', sans-serif;
    color: white;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.float-left {
    float: left;
}
.float-right{
    float: right;
}
/* fine common */
.container {
    width: 100%;
    height: 100vh;
}
/* barra sx navigazione */
.box-nav {
    position: fixed;
    width: 230px;
    height: calc(100vh - 70px);
    background-color: black; 
    min-height: 380px;  
}
.box-nav-top {
    width: 230px;
    height: calc(100% - 70px);
    min-height: 280px;
}
/* sezione logo  */
.box-nav .logo {
    width: 230px;
    height: 70px;
    padding: 20px;   
}
.box-nav .logo img {
    width: 70%;
}
.logo-small {
    display: none;
    width: 70px;
    height: 70px;
}
.logo-small img {
    width: 30px;
    height: 30px;
}

/* fine sezione logo  */
/* sezione menu  */
.box-nav .menu {
    width: 230px;
    margin-top: 20px;
}
.row-menu {
    padding-left: 16px;
    width: 100%;
    height: 30px;
    margin-bottom: 5px;
}
.row-menu:hover {
    border-left: 2px solid lightgreen;
}
.menu .row-menu a:hover{
    font-weight: 700;
    color: white;
}
.row-menu img {
    width: 30px;
    height: 30px;
    padding-right: 5px;
}
.row-menu a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: gray;
    font-size: 12px; 
    font-weight: 700;  
}
.icona {
    display: none;
    width: 30px;
    height: 30px;
    padding: 20px;
}
.icona img {
    width: 30px;
    height: 30px;
}
/* fine sezione menu  */
/* sezione playlist  */
.box-nav .playlist {
    width: 230px;
    padding: 20px;
}
.playlist h4 {
    margin-bottom: 10px;
}
.playlist a {
    display: flex;
    align-items: center;
}
#crea-playlist {
    text-decoration: none;
    color: gray;
    font-weight: 500;
}
#crea-playlist span::before {
    content: "+";
    background-color: lightgrey;
    color: black;
    font-size: 30px;
    font-weight: 700;
    padding: 0 10px;
    margin-right: 5px;
}
#crea-playlist:hover span:before{
    background-color: white;
}
#crea-playlist:hover {
    color: white;
}
.lista-playlist {
    width: 230px;
    height: 300px;
    padding: 0 20px;
}
.lista-playlist ul {
    width: 100%;
    height: 150px;
    min-height: 100px;
    list-style-type: none;
    overflow-y: auto;
}
.lista-playlist li {
  
}
.nome-playlist {
    padding: 5px 0;
}
.nome-playlist a{ 
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    color: gray;
}
.nome-playlist a:hover {
    font-weight: 700;
    color: white;
}
/* fine sezione playlist  */
/* inizio sezione botton navigazione */
.box-nav .nav-bottom {
    width: 230px;
    height: 70px;
    padding: 0 20px;
    background-color: black; 
    z-index: 999;
}
.installa a  {
    text-decoration: none;
    color: gray;
    font-size: 12px;
    font-weight: 500;
}
.installa a:hover {
    font-weight: 700;
    color: white;
}
.installa i {
    margin-right: 5px;
}
.utente {
    width: 100%;
    height: 50px;
    border-top: 1px solid gray;
    margin-top: 5px;   
}
.utente img {
    width: 25px;
    height: 25px;  
}
.utente a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 700;
    margin-top: 10px;
}
.utente .user-avatar {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: lightgrey;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}
/* fine sezione botton navigazione */
/* fine barra sx navigazione */
/* sezione main  */
.box-main {
    width: calc(100% - 230px);
    height: 100%;
    background-color: rgb(20, 25, 34);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 90px;
}
/* sezione barra top main  */
.barra-top {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: calc(100% - 230px);
    height: 70px;
    background-color: rgba(1, 1, 1, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 899;
}
.barra-top .btn a {
    display: inline-block;
    width: 180px;
    height: 35px;
    color: white;
    text-decoration: none;
    font-size: 10px;
    font-weight: 700;
    line-height: 35px;
    border: 1px solid white;
    border-radius: 20px;
    text-align: center;
    margin-right: 5px;
}
.btn a {
    transition: 1s;
}
.btn a:hover {
    transform: scale(1.1);
}


/* fine sezione barra top main */
/* sezione menu top main  */
.menu-top-main {
    width: 100%;
    padding-top: 90px;
    padding-bottom: 20px;
    text-align: center;
  
}
.menu-top-main ul {
    list-style: none;


}
.menu-top-main li {
    display: inline-block;
    padding: 0 5px;

}
.menu-top-main  a span {
    padding-bottom: 5px;
    border-bottom: 2px solid lawngreen;
}
.menu-top-main a {
    color: gray;
    font-weight: 700;
    font-size: 12px;
    text-decoration: none;
}
.menu-top-main li:hover a {
    color: white
}
/* fine sezione menu top main  */
/* sezione played */
.box-played {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 10px;
   
}

.copertina {
   
    width: calc((100% / 6) - 20px);
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    

}
.copertina img {
    width: 100%;
    
}
.box-img {
    position: relative; 
    width: 100%;
    margin-bottom: 10px;
}
.layover {
    display: none;
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);  
}
.box-img:hover .layover{
    display: inline;
}
.layover a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;

}
.layover a i {
    color: white;
    font-size: 30px;

}
.box-main p {
    color: gray;
    font-weight: 700;
    font-size: 10px;
    padding-top: 10px;
}
.artisti-pop img {
    border-radius: 50%;

}
/* fine sezione played  */
/* fine sezione main  */
/* sezione footer  */
.box-footer {
    position: fixed;
    display: flex;
    justify-content: space-between;
    left: 0;
    bottom: 0;
    z-index: 999;
    width: 100%;
    height: 70px;
    background-color: rgb(50, 50, 50);
}
.box-footer a {
    text-decoration: none;
    color: gray;
}
.box-footer a:hover {
    color: white;
}
.footer-sx,
.footer-dx {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 230px;
    height: 70px;
    padding: 10px;
}
.footer-centrale {
    width: 35%;
    height: 70px;
    padding: 5px;
}
/* footer sx  */
.disco img {
    width: 35px;
    height: 35px;
    margin-right: 10px;
}
.nome-brano p {
    font-size: 10px;
    color: gray;
    padding-top: 5px;
}
.icone-sx i {
    padding-left: 10px;
}
/* fine footer sx  */
/* footer centrale  */
.footer-centrale .riga-volume {
    width: 70%;
    height: 4px;
    border-radius: 2px;
    background-color: gray;
}
.icone-centrali-foot {
    display: flex;
    justify-content: center;
    align-items: center;
}
.icone-centrali-foot i {
    padding: 5px;
}
#play {
   font-size: 25px;
}
.volume-centrale {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.volume-centrale span {
    font-size: 12px;
}

/* fine footer centrale  */
/* footer dx  */
.riga-volume{
    width: 100px;
    height: 4px;
    border-radius: 2px;
    background-color: gray;
}
.intensita-volume {
    position: relative;
    width: 40px;
    height: 4px;
    border-radius: 2px;
    background-color: lightgreen;
}
.cursore {
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color:lightgrey;
}
/* fine footer dx  */


/* fine sezione footer  */
/* inizio Media  */
@media screen and (max-width: 600px) {
    /* .box-nav {
        min-height: 100%;
    } */
    .box-nav,
    .box-nav-top,
    .box-nav .logo,
    .box-nav .menu, 
    .box-nav .playlist,
    .box-nav .nav-bottom {
        width: 70px;
    }
    .box-main,
    .barra-top {
        width: calc(100% - 70px) ;
    }

    #nome-logo,
    .row-menu,
    .playlist,
    .lista-playlist,
    .installa,
    .utente {
        display: none;
    }
    .logo-small,
    .icona {
        display: inline;
    }

}

@media screen and (max-width: 980px) {
    .box-played {
        flex-wrap: wrap;
    }

    .copertina {
        width: calc((100% / 4) - 20px);
    }

}
@media screen and (max-width: 780px) {
    .box-played {
        flex-wrap: wrap;
    }

    .copertina {
        width: calc((100% / 2) - 20px);
    }

}
@media screen and (max-height: 500px) {
    .barra-top {
        display: none;
    }
    
}
/* fine Media  */